@model List<Batarilan_Exercise1.Models.Feedback>

<h3>Student Feedback</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var f in Model)
        {
            <tr>
                <td>@f.StudentName</td>
                <td>@f.Message</td>
                <td>@f.DateSubmitted</td>
            </tr>
        }
    </tbody>
</table>
